.todo {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px; 
  padding: 20px;
  flex-wrap: wrap; 
}

.imgfon img {
  max-width: 400px; 
  width: 100%; 
  height: auto; 
  border-radius: 10px; 
}

.txt {
  max-width: 600px;
  text-align: justify;
  font-size: 18px;
  color: #333;
}
.txt h2 {
  font-size: 35px;
  color: #000000;
  margin-bottom: 15px;
  font-weight: bold;
}
